body {
  background: #f7fdfe;
  font-family: "Roboto", sans-serif;
}

a {
  color: #5d8ef1;
  font-weight: 450;
}
.weather-app {
  background: white;
  max-width: 600px;
  margin: 60px auto;
  padding: 30px;
  border-radius: 10px;
  box-shadow: 0 30px 50px rgba(65, 50, 100, 0.08);
}
header {
  border-bottom: 1px solid #f7fdfe;
  padding-bottom: 30px;
}
.search-input {
  background-color: #f7fdfe;
  border: none;
  color: rgba(39, 33, 66, 0.4);
  font-size: 16px;
  padding: 20px;
  width: 75%;
  border-radius: 6px;
}

.search-button {
  margin-left: 5px;
  font-size: 16px;
  background-color: #5d8ef1;
  color: white;
  border: none;
  padding: 20px 40px 20px 40px;
  line-height: 1;
  border-radius: 5px;
  transition: all 200ms ease-in-out;
}
.search-button:hover {
  background-color: #3a6bd8;
}
main {
  padding: 30px 0;
}

.current-weather {
  display: flex;
  justify-content: space-between;
}
.current-city {
  display: flex;
  font-size: 38px;
  font-weight: 900;
  margin: 0;
}
.current-details {
  color: rgba(39, 33, 66, 0.4);
  font-size: 16px;
  font-weight: 400;
  line-height: 24px;
  position: relative;
  top: 50px;
  right: 370px;
  margin-left: 20px;
  margin-bottom: 40px;
}

.current-details strong {
  color: #5d8ef1;
}

.current-temperature {
  display: flex;
}

.current-temperature-icon {
  margin-top: -80px;
  font-size: 40px;
  margin-left: 430px;
}

.current-temperature-value {
  font-size: 80px;
  margin-top: -100px;
  margin-left: 10px;
  font-weight: bold;
}

.current-temperature-unit {
  font-size: 28px;
  margin-top: -90px;
  margin-left: 0px;
}

footer {
  font-size: 14px;
  border-top: 1px solid #f7fdfe;
  padding: 30px 0 0 0;
  text-align: center;
  padding-top: 15px;
  margin-top: 30px;
  color: rgba(39, 33, 66, 0.4);
}
